{% extends 'base/base.html' %}
{% load static %}
{% block head %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'css/tienda.css' %}">
  <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
{% endblock %}
{% block content %}
  <div class="col-lg-10 col-md-8 col-sm-12 tienda">
      <div class="contenedor_marcas row g-5 col-lg-10 col-md-8 col-sm-12">
        {% for marca in marcas %}
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card">
              <div class="imgBx">
                <h2>{{marca.nombre}}</h2>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    {% include "contacto/contacto.html" %}
  </div>
{% endblock %}
<!--<form method="post" action="{% url 'enviar_mensaje' %}">-->