<div class="row">
    <div class="col text-end">
        <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </div>
</div>
<div class="user">
    <a href="#">Usuario {{user.name}}</a>
</div>
<div class="campos">
    {% if user.is_staff %}
        <hr>
        <div class="admin"><a href="{% url 'admin:index' %}">⚙ Panel Admin</a></div>
    {% endif %}
    <hr>
    <div class="cerrar_session">
        <a href="{% url 'account_logout' %}">Cerrar sesión</a>
    </div>
</div>
<script>
    $(document).ready(function(event) {
        $('.close-icon').click(function(event) {
            event.stopPropagation();  // Evita que el evento se propague al elemento carro
            // Cambiar el estado de x a true cuando se hace hover sobre .carro
            $('.widget_user').hide();
        });
    });
</script>
